[Unit]
Description=A minute after each check ends, publish go-replayer.fuseki.net if GitHub's main or the site's data changed

[Timer]
OnActiveSec=10s
OnUnitInactiveSec=1min
AccuracySec=5s

[Install]
WantedBy=timers.target
